@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing:border-box;
    font-family: 'Raleway', 'Noto Sans KR', sans-serif;
}
html, body{margin: 0; padding: 0;}
header, section, article, aside, main, nav, footer{display: block;}
h1, h2, h3, h4, h5, h6, p{margin: 0; padding: 0; user-select: none;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}


#PF_main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-image: url("../img/window_photo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#PF_main .dark_bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#PF_main .logo{}
#PF_main .logo img{
    display: block;
    width: 120px;
    padding-bottom: 45px;
}
#PF_main .box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#PF_main .box button{
    display:block;
    padding: 10px 15px;
    margin: 0 20px;
    border: 1px #fff solid;
    background-color: rgba(0,0,0,0.25);
    text-align:center;
    cursor: pointer;
    color:#fff;
    transition: all 0.9s, color 0.3s;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#PF_main .box button:hover {
    color: #fc0;
    box-shadow: 0 80px 0 0 rgba(255,255,255,0.25) inset, 
    0 -80px 0 0 rgba(255,255,255,0.25) inset;
}
#PF_main .box button.open {
    color: #fc0;
    transition: color 0.3s;
}

#PF_main .contents{
    padding: 30px 50px;
    display: none;
    color: #fff;
}
#PF_main .contents h4{
    font-size: 22px;
    padding: 20px 0 30px 0;
}
#PF_main .contents p{
    font-size: 17px;
}